.authorDetails {
    float: left;
}
.blogDetails {
    float: right;
    margin-top: 0.1em; /* Fix misalignment of blog extra content */
}

.link {
    color: rgba(0, 0, 0, 0.4);
}

.link:hover {
    color: #000000 !important;
}
