@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
.headingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.socialBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    word-wrap: break-word;
}

.link {
    word-break: break-all;
    padding: 0.5em;
}

.previous-upload-button {
    margin-bottom: 1.4em !important;
}

.submit-button {
    display: block !important;
}
