.project-container {
    display: flex !important; /* Can someone get rid of this 'important' :( */
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.project-group-container {
    flex-grow: 1;
    flex-shrink: 0;
}
