.container {
    height: 100%;
    display: flex !important; /* Override semantic container attribute display: block */
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 5.4em 0;
}
