.insert-it {
    position: relative;
    left: -2em;
    animation-name: insertion;
    transition-timing-function: ease-in;
    animation-duration: 0.75s;
    transform: translateX(2em);
}

@keyframes insertion {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(2em);
    }
}
