.main {
    display: flex;
    overflow-y: hidden;
}

.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1220;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.16),
        0 2px 10px 5px rgba(0, 0, 0, 0.12);
}

.sidebar-container-expand {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1220;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.16),
        0 2px 10px 5px rgba(0, 0, 0, 0.12);
    animation: expand 0.5s forwards;
}

.sidebar-container-shrink {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #ff5644;
    z-index: 1220;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.16),
        0 2px 10px 5px rgba(0, 0, 0, 0.12);
    animation: expand 0.5s reverse;
}

.sidebar {
    margin-top: 2.5em;
    width: 100%;
}

.sidebar-button {
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "TypoPRO Bebas Neue";
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    text-align: left;
    padding: 0.5em 0.3em;
    display: block;
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1210;
    background-color: rgba(0, 0, 0, 0.8);
    height: 200%;
    width: 100%;
}

.link-color {
    color: #000000;
}

.link-color:hover {
    color: #000000;
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 40vw;
    }
}

@keyframes shrink {
    from {
        width: 40vw;
    }
    to {
        width: 0;
    }
}
