.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 500000;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.16),
        0 2px 10px 5px rgba(0, 0, 0, 0.12);
}

.sidebar {
    margin-top: 2.5em;
    width: 100%;
}

.sidebar-button {
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "TypoPRO Bebas Neue";
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    text-align: left;
    padding: 0.5em 0.3em;
    display: block;
    outline: none;
}
