.social {
    height: 35px;
    width: 35px;
}

.card{
    widows: 90%;
    background-color:#fff;
    border: 2px solid #E6E6E6;
    padding-bottom:24px;
    text-align: center;
    margin: 6px auto;
    
  }
  .card:hover{
    box-shadow: 0 4px 32px 0 rgba(0,0,0,0.08);
    cursor: pointer;
    transition: all 0.3s;
    }   
    