.position {
    display: flex;
    justify-content: center;
}

.container {
    position: fixed;
    z-index: 1200; /* Semantic changed z-index to 1190 on hovering over card. */
    width: 100vw;
}

.container-margin {
    margin: 0.5em 0 0.5em 0;
}

.container-transparent-general {
    position: fixed;
    z-index: 1200; /* Semantic changed z-index to 1190 on hovering over card. */
    width: 100vw;
    animation: scroll-container-to-transparent-general 0.4s forwards;
}

.container-white-general {
    position: fixed;
    top: 0;
    z-index: 1200; /* Semantic changed z-index to 1190 on hovering over card. */
    width: 100vw;
    fill: #000000;
    animation: scroll-container-to-white-general 0.4s forwards;
}

@keyframes scroll-container-to-white-general {
    from {
        background-color: transparent;
        box-shadow: none;
    }
    to {
        background-color: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

@keyframes scroll-container-to-transparent-general {
    from {
        background-color: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    to {
        background-color: transparent;
        box-shadow: none;
    }
}
