.nav-title {
    font-family: "TypoPRO Bebas Neue";
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1em;
}

.hamburger {
    font-size: 2.5em;
    padding-top: 0.2em; /* SVG was distorting the alignment. Therefore, this sasta jugaad */
}

.hamburger-before-scroll-main {
    color: #f8d16c;
    font-size: 2.5em;
    padding-top: 0.2em;
    transition: color 0.3s;
}

.hamburger-after-scroll-main {
    color: #000000;
    font-size: 2.5em;
    padding-top: 0.2em;
    transition: color 0.3s;
}
