.element {
  margin-top: 2em;
}

.background {
  position: absolute;
  transform: translate(40%, 50%);
  left: 0;
  height: 100%;
  color: rgba(248, 209, 108, 0.5);
  font-size: 15em;
  font-family: 'TypoPRO Bebas Neue';
  user-select: none;
}

.text {
  transform: translateX(-5%);
}

.link-text {
  color: #000000;
  display: inline;
  font-family: 'Playfair Display';
  font-size: 20px;
}
.link-desc {
  color: #999999;
  font-size: 14px;
  font-style: italic;
  line-height: 1em;
  margin-top: 0.5em;
}

@media only screen and (max-width: 768px) {
  .element {
    margin: 2em 0;
  }
}
