.element {
  margin-top: 2em;
}

.background {
  position: absolute;
  transform: translate(40%, 50%);
  left: 0;
  height: 100%;
  color: rgba(248, 209, 108, 0.5);
  font-size: 15em;
  font-family: 'TypoPRO Bebas Neue';
  user-select: none;
}

.text {
  transform: translateX(-5%);
}

.link-text {
  color: #000000;
  display: inline;
  font-family: 'Playfair Display';
  font-size: 24px;
}
.link-desc {
  color: #000000;
  line-height: 2;
  font-size: 16px;
}
