.element {
    margin-top: 2em;
}

.background {
    position: absolute;
    transform: translate(40%, 50%);
    left: 0;
    height: 100%;
    color: rgba(248, 209, 108, 1);
    font-size: 15em;
    font-family: "TypoPRO Bebas Neue";
    user-select: none;
}

.text {
    transform: translateX(-5%);
}

.link {
    color: #000000;
}

.link:hover {
    color: #000000;
}

.link-text {
    display: inline;
}
